html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#app {
  min-height: 100vh;
  background-image: url(./assets/win98bkg1920x1080.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
